<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ol>
    <li>List popular languages for Data Science</li>
    <li>List useful libraries for Data Science</li>
    <li>List useful tools for Data Science</li>
</ol>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Numpy</li>
    <li>Scipy</li>
    <li>Matplotlib</li>
    <li>Scikit-learn</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr><td>RStudio</td></tr>
    <tr><td>Jupyter Notebook</td></tr>
    <tr><td>Git</td></tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Hong Sun